* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    /* padding: 0 1em; */
    overflow-x: hidden;
}

/* Header */

.title {
    display: flex;
}

.title h3 {
    font-size: 1.2rem;
}

nav > ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    gap: 0.8em;
}

.logo {
    margin-right: 0.25em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em 1.25em;
}

li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
}

/* Introduction */

.intro {
    background-image: url('./images/jBD2d.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 1.2em 1.3em 1.2em;
}

.intro h1, .intro p {
    text-shadow: 
        0 0 10px rgba(0, 0, 0, 1),
        0 0 20px rgba(0, 0, 0, 0.8),
        2px 2px 6px rgba(0, 0, 0, 0.9);
}

/* Introduction */

.introduction {
    padding: 0 1em;
}

.introduction h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.introduction-img {
    max-width: 100%;
    margin-top: 1.5em;
    border-radius: 2%;
}

h4:not(:last-of-type) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h4:last-of-type {
    margin-top: 1.5em;
    text-align: center;
}

h4 + p {
    margin-bottom: 1em;
}

/* About */

.about {
    padding: 0 1em;
}

.profile-pic {
    height: 200px;
    width: 170px;
    border-radius: 50%;
    margin-bottom: 1em;
}

.about-name {
    width: 340px;
    margin-bottom: 1em;
}


/* Gallery */

.gallery {
    margin: 0 auto;
}

.blog {
    padding: 1.8em 1em;
}

.blog > img {
    max-width: 100%;
    border-radius: 2%;
    margin-bottom: 1.2em;
}

h2 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.blog-description {
    line-height: 1.2;
}

/* Link */

a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

/* Footer */

footer {
    width: 100%;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 2.5em;
    font-size: 0.8rem;
}

footer  p:first-of-type {
    margin-bottom: 0.5em;
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .logo {
        width: 20px;
        height: 20px;
    }

    .introduction-details h3 {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .introduction-details h3 + p {
        margin-bottom: 0.5em;
    }

    .introduction-details p {
        line-height: 1.2;
    }

    footer {
        width: 100%;
        margin: 0;
    }

    .about-desc h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .about-desc h3 + p {
        margin-bottom: 0.5em;
    }

    .about-desc p, .about-name-desc p {
        line-height: 1.2;
    }
}

@media (min-width: 1024px) {

    .container {
        width: 100%;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .title h3 {
        font-size: 1.8rem;
    }

    li a {
        font-size: 1.4rem;
        cursor: pointer;
    }

    li a:hover {
        color: #640D14;
        text-decoration: underline;
    }

    li a:active, li a:focus {
        color: brown;
    }

    nav ul {
        display: flex;
        gap: 1.2em;
    }

    header {
        padding: 2.5em 3.5em 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #ffffff;
    }

    .intro {
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: flex-end;
        padding: 0 0 1.5em 1.5em;
        line-height: 1.5;
        font-size: 1.4rem;
        margin-top: 5em;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
        flex-wrap: wrap;
        width: 100%;
        /* gap: 1em; */
        margin-left: 1.5em;
    }

    .blog {
        /* flex: 1; */
        width: calc(33.33% - 1em);
    }

    .blog > img {
        width: 100%;
        object-fit: cover;
    }

    .introduction-desc {
        width: 65%;
        padding: 3em;
        margin: 4em 2em 0 3em;
        font-size: 1.3rem;
    }

    .introduction-img {
        display: block;
        margin: 0 auto;
        width: 87%;
        border-radius: 0%;
}

    .introduction-details {
        font-size: 1.3rem;
        width: 80%;
        margin: 2em auto;
        line-height: 1.2;
    }

    .introduction-details  h3 {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .introduction-details h3 + p {
        margin-bottom: 0.5em;
    }

    .recent-posts {
        font-size: 1.6rem;
    }

    .profile {
        margin: 10em 10em 3em 10em;
        /* padding: 3em 8em 3em 8em; */
        display: flex;
        justify-content:first baseline;
        align-items: center;
        gap: 2em;
    }

    #name {
        color: #640D14;
        font-size: 2.5rem;
    }

    .about-name {
        width: 80%;
        margin-bottom: 0.3em;
    }

    .about-name-desc {
        width: 60%;
        font-size: 1.2rem;
    }

    .about-desc {
        width: 85%;
        font-size: 1.2rem;
        margin: 0 auto;
        line-height: 1.2;
    }

    .about-desc h3 {
        margin-bottom: 1em;
    }

    .about-desc h3:last-of-type {
        margin-top: 1em;
    }

    .about-desc h3 + p {
        margin-bottom: 0.5em;
    }
}